body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.Navigation {
  background-color: black;
}

label {
  display: block;
  margin: 10px;
  font-size: larger;
  font-weight: bold;
}


.nav-item {
  border: none;
  display: inline-block;
  padding: 8px 16px;
  vertical-align: middle;
  overflow: hidden;
  text-decoration: none;
  color: inherit;
  background-color: inherit;
  text-align: center;
  cursor: pointer;
  white-space: nowrap;
  color: #ddd;
}

.nav-item:hover {
  color: #000 !important;
  background-color: #ccc !important
}


.custom-nav-item {
  position: absolute;
  right: 0%;
  top: 0%;
}


hr {
  border: 2px solid;
  margin: 0;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  border: 1px solid black;
}


.flex-item:hover {
  background-color: black;
  color: rgb(35, 192, 212);
}

.flex-item {
  flex-grow: 1;
  background-color: rgb(35, 192, 212);
  color: black;
  text-align: center;
  text-decoration: underline;
  font-size: 20px;
  height: 50px;
}

.flex-item button {
  width: 100%;
  height: 50px;
  margin: auto;
}

.CenteredForm {
  width: 600px;
  padding: 10px;
  margin: 50px auto;
}

.CenteredForm button {
  margin: 10px;
}

.ManageForm
{
  background-color: white;
}
.ManageForm input[type=text],
.ManageForm input[type="number"],
.ManageForm input[type="file"],
.ManageForm select,
.ManageForm button,
.ManageForm hr {
  display: block;
  margin: 10px;
}
.ManageForm select {
  min-width: 250px;
}


.CustomInput {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.LabelForCheckbox {
  position: relative;
  display: inline;
}

.product {
  min-width: 20vw;
  text-align: center;
  border: 3px solid blue;
  margin: 10px;
}

.product:hover {
  background-color: rgba(186, 0, 149, 0.453)
}

.product-image {
  display: block;
  margin: auto;
  height: 15vh;
  max-width: 20vw;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
}

.label-for-product {
  display: block;
  color:#000;
  text-decoration: none;
  font-size:larger;
  font-weight: bold;
}

.products-table {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 50%;
  border: 4px solid black;
  padding: 20px;
  margin: 5% auto;
  background-color: white;
}

.preview-product {
  text-align: center;
  border: 1px solid black;
  margin: 10px;
  width: 15vw;
  font-size: medium;
}

.preview-product:hover {
  background-color: rgba(186, 0, 149, 0.453)
}

.preview-product-image {
  display: block;
  margin: auto;
  height: 14vh;
  max-width: 15vw;;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
}

.preview-products-table {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 5% auto;
}

h1.PageHeader {
  text-align: center;
  color: rgb(4, 141, 50);
  
}

h2.PageHeader {
  text-align: center;
  color: rgb(46, 33, 191);
}
h1.PageHeader span { 
  background-color: rgb(255, 121, 4); 
}
h2.PageHeader span { 
  background-color: rgb(219, 255, 18); 
}

.UserNameCell {

  border-bottom: none;
}

.empty {
  border: none;
}

.ProductDetails {
  position: relative;
  width: 800px;
  padding: 10px;
  margin: 10% auto;
  background-color: white;
}

.ProductDetails button {
  display: block;
  margin: 10px;
}

.CenteredForm h1{
  text-align: center;
  color: rgb(120, 4, 4);
}

img.ProductImage {
  display: block;
  width: 15vw;
}

.Info {
  margin-top: 10%;

}

.Info>label {
  font-size: x-large;
}

.UserDetail
{
  background-color: white;
}

form.UserDetail label,
form.UserDetail button {
  display: block;
}

.HomeForm {
  border: 3px solid black;
}

img.CartImage {
  position: absolute;
  top: 150px;
  left: 10px;
  height: 75px;
}

img.CartImageUser {
  position: absolute;
  top: 120px;
  left: 10px;
  height: 75px;
}

.OrderDetailes {
  height: 20%;
}

img.Logo {
  position: absolute;
  right: 0;
  bottom: 0;
  height: 150px;
}

h1,
h2.HomeHeader {
  margin: auto;
}

.HeaderSpace {
  position: relative;
  background-color: yellow;
  height: 150px;
  padding-left: 10px;
}


form.UserDetails {
  text-align: center;
  width: 550px;
  height: 600px;
  padding: 10px;
  background-color: white;

}

.Avatar {
  width: 25%;
  margin-right: 15%;
}

.UserInfo {
  text-align: left;
}

.Column {
  float: left;
  padding: 15px;
}

.SearchSection {
  width: 50%;
}

.PreviewProductsSection {
  width: 50%;
}


.FiltersSection {
  width: 100%;
  padding: 10px;
  margin: 2% 35% 10% 35%;
}

.ManufacturerSection {
  width: 15%;
  height: 150px;
  background-color: white;
}

.PriceSection {
  width: 15%;
  height: 150px;
  background-color: white;
}

.Search {
  width: 40%;
  margin: 10% 30% auto 30%;
  box-sizing: border-box;
}

.List {
  width: 100%;
  border: solid 1px;
}

.ListItem {
  width: 100%;
  border: solid 1px;
  padding: 0.25ch;
  gap: 0.25ch;
}

.ListItem:hover {
  background-color: #eee;
}

.NoUnderline {
  text-decoration: none;
}

p {
  font-size: x-large;
}

.About {
  width: 1000px;
  padding: 10px;
  margin: 50px auto;
}

.CustomButton {
  background-color: #4CAF50;
  /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.clear {
  clear: both;
  height: 250px;
}

.clearShort {
  clear: both;
  height: 5%;
}

.DataTable {
  margin-top: 5%;
  height: 400px;
  width: "100%";
  background-color: white;
}

.background
{
  position: fixed;
  top:0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-image: url('Images/Main2.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
  z-index: -1;
}
